api/dist
api/node_modules
api/tmp/uploads/*
api/!tmp/uploads/.gitkeep
api/.env
api/ormconfig.json
api/coverage
api/npm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*

web/node_modules
web/.pnp
web/.pnp.js
web/coverage
web/build
web/.DS_Store
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

mobile/.DS_Store
mobile/build/
mobile/*.pbxuser
mobile/!default.pbxuser
mobile/*.mode1v3
mobile/!default.mode1v3
mobile/*.mode2v3
mobile/!default.mode2v3
mobile/*.perspectivev3
mobile/!default.perspectivev3
mobile/xcuserdata
mobile/*.xccheckout
mobile/*.moved-aside
mobile/DerivedData
mobile/*.hmap
mobile/*.ipa
mobile/*.xcuserstate
mobile/build/
mobile/.idea
mobile/.gradle
mobile/local.properties
mobile/*.iml
mobile/.vscode/
mobile/node_modules/
mobile/npm-debug.log
mobile/yarn-error.log
mobile/buck-out/
mobile/\.buckd/
mobile/*.keystore
mobile/!debug.keystore
mobile/*/fastlane/report.xml
mobile/*/fastlane/Preview.html
mobile/*/fastlane/screenshots
mobile/*.jsbundle
mobile//ios/Pods/
